<div class="well">
    
	<h1>{{message}}</h1>
	
    <form name="registerForm">
        <fieldset>
            <div class="form-group">
                <input name="name" class="form-control" placeholder="User Name" ng-model="name" required>
                <input class="form-control" placeholder="Password"          ng-model="password1" type="password" required>
                <input class="form-control" placeholder="Re-enter Password" ng-model="password2" type="password" required>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <a class="btn btn-default" href="#"><i class="fa fa-thumbs-down"></i> Cancel</a>
                    <button class="btn btn-primary" ng-click="registerUser()" ng-disabled="registerForm.$invalid"><i class="fa fa-thumbs-up"></i> Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>